.card {
  max-width: 320px;
  margin: 100px auto;
  background: rgba(255,255,255,0.15);
  padding: 25px;
  border-radius: 20px;
  text-align: center;
}

.card button {
  width: 100%;
  margin: 8px 0;
  padding: 12px;
  border-radius: 20px;
  border: none;
  font-weight: bold;
}

.avatar {
  width: 80px;
  border-radius: 50%;
}

.hidden {
  display: none;
}
